.info {
  display: flex;
  gap: 56px;
}

.content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.48;
  color: #122945;
}

.linecall,
.linequality,
.linetotal {
  background: #dee6f5;
  border-radius: 12px;
  height: 6px;
  position: relative;
  top: 7px;
}

.linecall::after,
.linequality::after,
.linetotal::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 6px;
  width: 68px;
  border-radius: 12px 0 0 12px;
}
.newcall {
  color: #00a775;
}

.linecall::after {
  background: #00a775;
}

.quality {
  color: #ffd500;
}
.linequality::after {
  background: #ffd500;
}
.total {
  color: #ea1a4f;
}
.linetotal::after {
  background: #ea1a4f;
}
