.main {
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 5px #e9edf3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.container {
  /*display: flex;*/
  display: grid;
  grid-template-columns: 52px 78px 85px 335px 215px 1fr 100px;
  width: 100%;
  padding: 20px 40px;

  justify-content: space-between;

  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #899cb1;
}

.data {
  /*width: 100%;*/

  /*display: flex;*/
  /*gap: 30px;*/
}

.type {
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 154px;
}

.text {
}

.times {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
