.wrapper {
  /*display: flex;*/
  /*justify-content: space-between;*/
  width: 100%;
  box-shadow: 0px 4px 5px #e9edf3;
  background-color: #f1f4f9;
}

.header {
  padding: 15px;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;

  justify-content: space-between;
}
.date {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.48;
  color: #899cb1;
}
