button {
  cursor: pointer;
}

.mainheader {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 7px;
  gap: 48px;
  margin-bottom: 20px;
}

.balance {
  background: #ffffff;
  border-radius: 48px;
  padding: 10px 46px 10px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.48;
  color: #899cb1;
  position: relative;
}

.balance:hover svg {
  color: #0000f4;
}

.balance:active svg {
  color: #274bc8;
}

.balance span {
  color: #122945;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease-in 0s;
}

.balance:hover span {
  color: #0024cb;
}

.btnbalance {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #005ff8;
  transition: all 0.3s ease 0s;
}

.calendar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.choicedate {
  display: flex;
  gap: 8px;
  align-items: center;
}

.choicedate span {
  color: #005ff8;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.search {
  position: relative;
}
.search:hover svg {
  transition: all 0.3s ease 0s;
  color: #005ff8;
}
.search input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #5e7793;
  background-color: #f1f4f9;
  padding: 10px 315px 10px 46px;
}
.searchIcon {
  color: #5e7793;
  position: absolute;
  top: 12px;
  left: 14px;
}
.input:focus {
  outline-style: solid;
  outline-color: #899cb1;
  outline-width: 1px;
  border-radius: 40px;
}

.input:focus {
  outline-color: #005ff8;
}

.selects {
  display: flex;
  gap: 32px;
  align-items: center;
}

.dropdown:hover {
  color: #005ff8;
  transition: all 0.3s ease-in 0s;
}
.dropdown:hover svg {
  color: #005ff8;
}

.selects svg {
  position: relative;
  top: 6px;
  left: 2px;
}

.dropdown {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.48;
  color: #5e7793;
  opacity: 0.87;
  display: flex;
  gap: 6px;
  background-color: transparent;
}

.iconCalendar,
.arrowLeft,
.arrowRight,
.arrowDown {
  color: #899cb1;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.iconCalendar:hover,
.arrowLeft:hover,
.arrowRight:hover {
  color: #005ff8;
}
