.wrapper {
  background-color: #091336;
  padding: 20px 12px;
  max-width: 240px;
}

.logo {
  margin-bottom: 32px;
}

.navigation {
  margin-bottom: 64px;
}
.list {
}

.list li {
  padding: 15px 22px 17px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
}

.icon {
  margin-right: 13px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 8px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 17px;
  background: #005ff8;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.48;
  color: #ffffff;
  padding: 14px 58px 14px 24px;
  position: relative;
}

.btnIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
