.wrapper {
  background-color: #091336;
  padding: 20px 0px;
  max-width: 240px;
  width: 100%;
}

.logo {
  margin-bottom: 32px;
  display: flex;
  padding: 0 14px;
}

.navigation {
  margin-bottom: 64px;
}

.list li {
  cursor: pointer;
  padding: 15px 22px 17px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.list li:hover {
  background: rgba(216, 228, 251, 0.2);
}

.icon {
  margin-right: 13px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 17px;
  background: #005ff8;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.48;
  color: #ffffff;
  padding: 14px 58px 14px 24px;
  position: relative;
  transition: all 0.3s ease-in 0s;
  cursor: pointer;
}

.btn:hover {
  background: #0024cb;
}
.btn:active {
  background: #274bc8;
}

.btnIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.choiceBlock {
  padding: 0 12px;
}

.choice {
  background: rgba(216, 228, 251, 0.32);
  width: 240px;
  color: #ffffff;
}

.choice div {
  color: #ffffff;
}

.choice::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #ffd500;
  box-shadow: 0px 3px 8px rgba(237, 218, 1, 0.5);
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
}

.choice::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #005ff8;
  position: absolute;
  top: 0;
  left: 0;
}
