.wrapper {
  background-color: #091336;
  padding: 20px 12px;
}

.logo {
  margin-bottom: 32px;
}

.navigation {
}
.list {
}

.list li {
  padding: 15px 22px 17px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
}

.icon {
  margin-right: 13px;
}
