button {
  cursor: pointer;
}

.mainheader {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 7px;
  gap: 48px;
  margin-bottom: 20px;
}

.balance {
  background: #ffffff;
  border-radius: 48px;
  padding: 10px 46px 10px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.48;
  color: #899cb1;
  position: relative;
}

.balance:hover svg {
  color: #0000f4;
}

.balance:active svg {
  color: #274bc8;
}

.balance span {
  color: #122945;
  flex-direction: column;
  gap: 10px;
  transition: all 0.3s ease-in 0s;
}

.balance:hover span {
  color: #0024cb;
}

.btnbalance {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #005ff8;
  transition: all 0.3s ease 0s;
}

.calendar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconCalendar {
  position: relative;
  top: -3px;
}

.choicedate {
  display: flex;
  gap: 8px;
  align-items: center;
}

.choicedate span {
  color: #005ff8;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.search {
  position: relative;
}
.search:hover svg {
  transition: all 0.3s ease 0s;
  color: #005ff8;
}
.search input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #5e7793;
  background-color: #f1f4f9;
  padding: 10px 315px 10px 46px;
}

.searchIcon {
  color: #5e7793;
  position: absolute;
  top: 12px;
  left: 14px;
}

.input:focus {
  outline-style: solid;
  outline-color: #899cb1;
  outline-width: 1px;
  border-radius: 40px;
}

.input:focus {
  outline-color: #005ff8;
}

.selects {
  display: flex;
  gap: 32px;
  align-items: center;
}

.dropdown:hover {
  color: #005ff8;
  transition: all 0.3s ease-in 0s;
}

.dropdown:hover svg {
  color: #005ff8;
}

.selects svg {
  position: relative;
  top: 6px;
  left: 2px;
}

.dropdown {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.48;
  color: #5e7793;
  opacity: 0.87;
  display: flex;
  gap: 6px;
  background-color: transparent;
  position: relative;
}

.iconCalendar,
.arrowLeft,
.arrowRight,
.arrowDown {
  color: #899cb1;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.iconCalendar:hover,
.arrowLeft:hover,
.arrowRight:hover {
  color: #005ff8;
}

/*ul {
  overflow: hidden;
}
li {
  padding: 12px 20px;
  cursor: pointer;
}
.active,
li:hover {
  background: rgba(30, 254, 116, 0.05);
}
.active {
  font-weight: bold;
  color: #0024cb;
}*/

.popupSort {
  position: absolute;
  top: 26px;
  left: -120px;
  background: #ffffff;
  border: 1px solid #eaf0fa;
  box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
  border-radius: 4px;
  min-width: 204px;
  padding-top: 7px;
}

.popupSort li {
  padding: 0px 20px;
  padding: 6px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  display: flex;
  align-items: center;
  color: #899cb1;
  padding-left: 20px;
}

.popupSort li:not(:last-child) {
  margin-bottom: 6px;
}

.popupSort li:hover {
  color: #122945;
  background: rgba(0, 95, 248, 0.13);
  border-radius: 0px;
  color: #000;
}
