.items {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.dropdown {
  display: flex;
  gap: 4px;
}
.dropdown button {
  background-color: transparent;
}

/*.dropdown button:hover {
  background: url(../../icons/dropdown-hover.svg) 220px center / contain no-repeat;
}*/

.account {
}

.avatar {
  display: flex;
  align-items: center;
  gap: 4px;
}
.avatar img {
  border-radius: 50%;
}

/*.arrowdown {
  background-image: url(../../icons/dropdown-hover.svg);
}*/
