.items {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.dropdown {
  display: flex;
  gap: 4px;
}
.dropdown button {
  background-color: transparent;
}

.account {
}

.avatar {
  display: flex;
  align-items: center;
  gap: 4px;
}
.avatar img {
  border-radius: 50%;
}
