.table {
  transition: all 0.3s ease-in 0s;
}

.container {
  display: grid;
  grid-template-columns: 52px 78px 85px 335px 215px 1fr 100px;
  width: 100%;
  padding: 20px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #899cb1;
  border-radius: 0px;
  transition: all 0.3s ease-in 0s;
  border-top: 1px solid #eaf0fa;
  max-width: 1360px;
  margin: 0 auto;
}

.table:hover {
  cursor: pointer;
  background: rgba(212, 223, 243, 0.17);
}

.type {
  display: flex;
  align-items: center;
}
.type img {
  border-radius: 50%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
}

.grade {
  display: flex;
  align-items: center;
  color: #ea1a4f;
}

.times {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
