.container {
  /*display: flex;*/
  display: grid;
  grid-template-columns: 600px 1fr 1fr;
  width: 100%;
  padding: 20px 0px;

  justify-content: space-between;

  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #899cb1;
  border-radius: 0px;
  transition: all 0.3s ease-in 0s;
  border-top: 1px solid #eaf0fa;
  max-width: 1360px;
  margin: 0 auto;
}

.container:hover {
  cursor: pointer;
  background: rgba(212, 223, 243, 0.17);
  border-radius: 0px;
}

.data {
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}

.type img {
  border-radius: 50%;
}

.info {
  display: flex;
  justify-content: space-between;
  /*gap: 154px;*/
  align-items: center;
}

.text {
}

.times {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
