.main {
}

.maincontainer {
  max-width: 1440px;
  margin: 0 auto;
}

.mainheader {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 7px;
  gap: 48px;
}

.balance {
  background: #ffffff;
  border-radius: 48px;
  padding: 10px 46px 10px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.48;
  color: #899cb1;
  position: relative;
}

.balance span {
  color: #122945;
  flex-direction: column;
  gap: 10px;
}

.btnbalance {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.calendar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.choicedate {
  display: flex;
  gap: 8px;
}

.choicedate span {
  color: #005ff8;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
